.header__phone-number_link {
    text-decoration: none;
    color: #0E131C;
    color: color(display-p3 0.0588 0.0745 0.1059);
    font-family: Onest;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}